@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

*{
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}
body{
    background: url(img/background3.jpg);
    /*background: rgb(52, 56, 61);*/
    padding: 80px;
}
h1{
    color: #d7a573;
    /*margin: 200px auto 0;*/
    position: absolute;
    top: 230px;
    left: 42%;
    font-size: 72px;
    width: 300px;
    text-align: center;
}
.rect {
    position: absolute;
    left: 34%;
    top: 25%;
    width: 600px;
    height: 400px;
    /*background: wheat;*/
    /*background: #d7a573;*/
    background: #011A1F;
    opacity: 70%;
    border-radius: 20px;
    z-index: 0;
    border-bottom: 1px solid;

}
.rect2 {
    position: absolute;
    margin-top: -100px;
    width: 100%;
    height: 100%;
    background: #011A1F;
    opacity: 20%;
    z-index: 0;
}
#wrapper{
    position: relative;
    width: 320px;
    left: 50%;
    margin-left: -160px;
    top: 53%;
    margin-top: -75px;
    opacity: 100%;
    z-index: 9999;

}

/* === Sign up Form === */
#signup {
    height: 90px;
    width: 300px;
    border-radius: 8px;
    position: relative;
}
#signup::before {
    display: block;
    position: relative;
    height: 2px;
    background: #d7a573;;
    content: '';
    top: 44px;
    margin-left: 20px;
    z-index: 1;
}
#signup input:first-of-type{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#signup input:last-of-type{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
#signup  input[type="text"], #signup  input[type="password"], #signup button[type="submit"]{
    color: #d7a573;
    background: #011A1F;
    box-shadow: inset -100px -100px 0 #011A1F; /*Prevent yellow autofill color*/

}
#signup  input[type="text"], #signup  input[type="password"]{
    position: relative;
    display: block;
    width: 280px;
    height: 45px;
    border: 0;
    outline: 0;
    top: -2px;
    padding: 0 0 0 20px;
    font-weight: 700;
}
#signup  input[type="text"]:focus, #signup  input[type="password"]:focus{
    color: #ac7e56;
}
#signup button[type="submit"]{
    display: block;
    position: absolute;
    width: 52px;
    height: 52px;
    color: #d7a573;;
    border-radius: 50px;
    outline: 0;
    z-index: 2;
    top: 19px;
    right: -24px;
    border: 6px solid #d7a573;
    font-size: 25px;
    text-indent: 0px;
    padding-left: 9px;
    padding-bottom: 3px;
    text-align: center;
}
#signup button[type="submit"]:hover{
    color: #d7a573;
    text-shadow: 0 0 10px #ac7e56;
    cursor: pointer;
}
#signup p {
    color: #d7a573;;
    padding: 0 20px;
    font-weight: 700;
    font-size: 12px;
    margin: 5px 0 0 0;
}
#signup p > a{
    color: #ac7e56;
    text-decoration: none;
}
#signup p > a:hover{
    border-bottom: 1px solid;
}